/* MODAL */

#modal-overlay {
	display: none;
}

#modal-overlay.open {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

#modal-overlay #modal {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	text-align: center;
	max-width: 750px;
	width: 70vw;
	background: white;
	height: 70vh;
	border-radius: 10px;
	padding: 30px;
}

.modal-header p,
h2 {
	padding: 5px;
	font-size: min(2.2vw, 18px);
}

.checkboxSectionDiv {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	border-bottom: 0.1px solid black;
}

#checkbox-form-container h4,
label {
	margin-right: 5px;
	padding-bottom: 5px;
	font-size: min(2.2vw, 16px);
}
