body {
	margin: auto;
	background-color: #e9f1f7;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow: hidden;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#mainContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#rightSideBar {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 100vh;
}

#toolbar {
	background-color: #f8ffa9;
	padding: 10px;
	cursor: pointer;
	max-width: 10vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-shrink: 1;
	overflow-y: scroll;
	border-radius: 50px 50px 0px 0px;
}

#toolbar button:hover {
	background-color: #3e8e41;
}

#toolbar button {
	min-height: 50px;
	border-radius: 50%;
	width: 50px;
	margin-bottom: 5px;
}

#avgTemp {
	background-color: #ffcd06;
	color: white;
	cursor: pointer;
	padding-right: 10px;
	width: 150px;
	height: 180px;
	border-radius: 0 0 0 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-shrink: 1;
	line-height: 0px;
}

#avgTemp p {
	line-height: 0px;
}
