@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lexend+Peta:wght@900&family=Lexend+Peta:wght@400&display=swap");

body {
	margin: auto;
	background-color: #e9f1f7;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

.header {
	height: 60px;
	width: 100%;
	background-color: transparent;
	opacity: 1;
	display: flex;
	z-index: 2;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

#clothing-preferences-icon img {
	margin-right: 50px;
	width: 40px;
	height: 40px;
	background-color: aquamarine;
	border-radius: 20px;
	border-width: 40px;
	border-color: aquamarine;
	border: 10px solid aquamarine;
	cursor: pointer;
}

#clothing-preferences-icon img:hover {
	background-color: aqua;
	border-radius: 20px;
	border: 10px solid aqua;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}

#modal-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

#modal-overlay.open {
	display: flex;
}

#modal-overlay #modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
	max-width: 750px;
	width: 70vw;
	background: white;
	height: 70vh;
	border-radius: 10px;
	padding: 10px;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#header {
	padding-left: 30px;
	flex: 0 5 auto;
}

#mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: white;
}

#title {
	font-size: 3vw;
	overflow-wrap: break-word;
	font-family: "Lexend Peta", sans-serif;
}

#date {
	font-size: 1.5vw;
	font-family: "Lexend Peta", sans-serif;
	font-weight: 400;
}

#leftSideBar {
	background-color: skyblue;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	height: 100vh;
	max-width: 40vw;
	width: 100%;
}

#toolbar {
	background-color: #f8ffa9;
	padding: 10px;
	cursor: pointer;
	max-width: 10vw;
	height: 100vh;
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	overflow-y: scroll;
	flex-shrink: 3;
}

#toolbar button:hover {
	background-color: #f8c9c9;
}

#toolbar button {
	min-height: 50px;
	border-radius: 50%;
	width: 50px;
	margin-bottom: 5px;
}

#weatherDataDisplay {
	min-height: 30vw;
	min-width: 30vw;
	flex: 0 1 auto;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#weatherDataDisplay ul {
	list-style: none;
	font-size: 20px;
	line-height: 60px;
	margin-left: -40px;
}
.mainTempAreaVals {
	padding-left: 40px;
}

.emojis {
	font-size: 60px;
}

#avgTempDiv ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
