@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lexend+Peta:wght@900&family=Lexend+Peta:wght@400&display=swap');

body {
	margin: auto;
	font-family: 'Lexend Peta', sans-serif;
	overflow: hidden;
}

/* Main body */
#resultContainer {
	overflow-y: hidden;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	min-height: 500px;
	flex-shrink: 0;
}

#leftSideBar {
	background-color: skyblue;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	height: 100vh;
	width: 30vw;
	flex-shrink: 5;
}

#leftSideBar span {
	display: none;
	padding-bottom: 120px;
}

#leftSideBar span.show,
#leftSideBar a,
#leftSideBar p {
	font-size: 1vw;
	text-decoration: none;
	color: white;
	display: flex;
}

#leftSideBar a:hover {
	text-decoration: underline;
}

#timeContainer {
	background-color: aliceblue;
	padding: 10px;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#timeContainer a {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid black;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: black;
	text-align: center;
	transition: all 0.2s;
	cursor: pointer;
}
#timeContainer a:hover {
	color: #000000;
	background-color: aquamarine;
}

.bouncy {
	animation: bouncy 5s infinite linear;
	position: relative;
}
@keyframes bouncy {
	0% {
		top: 0em;
	}
	40% {
		top: 0em;
	}
	43% {
		top: -0.9em;
	}
	46% {
		top: 0em;
	}
	48% {
		top: -0.4em;
	}
	50% {
		top: 0em;
	}
	100% {
		top: 0em;
	}
}

/* Temperature Section  */
#mainContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 70vw;
	min-width: 400px;
	height: 90vh;
	background-color: white;
	flex-shrink: 10;
}

#location-date {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

#date {
	font-size: min(2.5vw, 16px);
	font-family: 'Lexend Peta', sans-serif;
	font-weight: 200;
}
#title {
	font-size: min(3vw, 16px);
	overflow-wrap: break-word;
	font-family: 'Lexend Peta', sans-serif;
	margin-bottom: -20px;
}

#weatherDataDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 100px;
	width: 100%;
	height: 100%;
}

.temperatureContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: -40px;
	z-index: 5;
	width: 100%;
}

.temperatureContainer p,
h2 {
	font-size: min(2.5vw, 16px);
}

.clothingPrefsDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
	text-align: center;
	font-weight: 200;
	height: 100%;
	width: 40%;
	max-width: 400px;
	min-width: 345px;
	padding: 0px 30px 20px 30px;
}

.clothingPrefsDiv h4,
.clothingPrefsDiv span {
	font-weight: 200;
	font-size: min(1.8vw, 12px);
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

/* TAB SLIDE OUT  */

#slideOut {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: aliceblue;
	width: 300px;
	height: 375px;
	bottom: 0px;
	right: -300px;
	/* Animation  */
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	z-index: 6;
	border-radius: 30px 0px 0px 0px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* Display slideOut */

.showSlideOut {
	right: 0px !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Tab */

.slideOutTab {
	font-size: 1vw;
	cursor: pointer;
	margin-top: 50px;
	position: absolute;
	left: -40px;
	height: min(30vh, 200px);
	border: black 0.5px solid;
	width: 39px;
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
	background-color: aquamarine;
	border-radius: 15px 0 0 0;
}

.slideOutTab p {
	font-size: min(12px, 18px);
	background-color: transparent;
}
.slideOutTab:hover {
	cursor: pointer;
	transition: 1s ease-in-out;
}

/* Slide out tab timePicker div  */
.slideOutTab div {
	text-align: center;
	position: relative;
	right: 70px;
	top: 80px;
	background-color: transparent;
	width: 180px;
	transform: rotate(270deg);
}

.slideOutTab div:hover {
	cursor: pointer;
	background-color: transparent;
	transition: 1s ease-in-out;
}

.tab-content {
	width: 100%;
	height: 100%;
}

.tab-header {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.tab-header p {
	padding: 10px;
	text-align: center;
	font-size: min(4vw, 14px);
	font-style: italic;
}

.tab-times {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 569px) and (max-width: 882px) {
	#slideOut {
		width: 250px;
		right: -250px;
	}

	.tab-content {
		overflow-y: scroll;
	}

	.tab-header p {
		padding: 5px;
		text-align: center;
		font-size: min(3.5vw, 14px);
	}

	.slideOutTab div {
		top: 60px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 568px) {
	#slideOut {
		width: 150px;
		right: -150px;
	}

	.slideOutTab div {
		top: 60px;
	}

	.tab-header p {
		padding: 5px;
		text-align: center;
		font-size: min(1.8vw, 12px);
	}
}
