body {
	margin: auto;
	background-color: #e9f1f7;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

/** TODO: Make font size dynamic, make transition on hover of button **/

h1 {
	font-size: 32px;
	margin: 0;
	padding-left: 15px;
	font-weight: 200;
	color: #2274a5;
	font-style: italic;
}

p {
	font-size: 3rem;
	color: #2274a5;
}

#modal-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

#modal-overlay.open {
	display: flex;
}

#modal-overlay #modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
	max-width: 750px;
	width: 70vw;
	background: white;
	height: 70vh;
	border-radius: 10px;
	padding: 10px;
}

.modal-header p {
	padding: 5px;
	font-size: 1.1em;
}

#checkbox-container div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

#checkbox-container h4,
label {
	margin-right: 20px;
}
/** INDEX PAGE **/

.header {
	height: 60px;
	width: 100%;
	background-color: #e9f1f7;
	opacity: 1;
	display: flex;
	z-index: 2;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

#clothing-preferences-icon img {
	margin-right: 50px;
	width: 40px;
	height: 40px;
	background-color: aquamarine;
	border-radius: 20px;
	border-width: 40px;
	border-color: aquamarine;
	border: 10px solid aquamarine;
	cursor: pointer;
}

#clothing-preferences-icon img:hover {
	background-color: aqua;
	border-radius: 20px;
	border: 10px solid aqua;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}

.page-title {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	opacity: 1;
}

.content {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
	background: url("../assets/imgs/sky-bg2.jpg") center center;
	z-index: 1;
}

@keyframes changeAxis {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#get-weather-btn {
	background-color: #e9f1f7;
	color: black;
	width: 40vw;
	height: 40vw;
	border-radius: 500px;
	box-shadow: none;
	border-width: 0px;
	z-index: 3;
	text-decoration: none;
	animation: changeAxis 2.5s ease-in-out infinite;
}

#get-weather-btn:hover {
	background-color: antiquewhite;
	color: black;
	border-radius: 500px;
	box-shadow: none;
	border-width: 0px;
	z-index: 3;
	text-decoration: none;
	transition: ease-in-out 0.5s;
	cursor: pointer;
}
