@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lexend+Peta:wght@900&family=Lexend+Peta:wght@400&display=swap');

body {
	margin: auto;
	background-color: white;
	font-family: 'Lexend Peta', sans-serif;
	overflow: hidden;
}
/** INDEX PAGE **/

#indexContainer {
	overflow-y: hidden;
	overflow-x: hidden;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 91vh;
	background: url('../assets/imgs/sky-bg2.jpg') center center;
	z-index: 1;
}

@keyframes changeAxis {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#get-weather-btn {
	background-color: #e9f1f7;
	width: 35vw;
	height: 35vw;
	margin-bottom: 80px;
	border-radius: 800px;
	box-shadow: none;
	border-width: 0px;
	z-index: 3;
	text-decoration: none;
	animation: changeAxis 2.5s ease-in-out infinite;
}

#get-weather-btn p {
	font-size: min(5.2vw, 44px);
}

#get-weather-btn:hover {
	background-color: antiquewhite;
	border-radius: 500px;
	z-index: 3;
	transition: ease-in-out 0.5s;
	cursor: pointer;
}
