body {
	margin: auto;
	background-color: #e9f1f7;
	font-family: Arial, Helvetica, sans-serif;
}

/** TODO: Make font size dynamic, make transition on hover of button **/

h1 {
	font-size: 32px;
	margin: 0;
	padding-left: 15px;
	font-weight: 200;
	color: #2274a5;
	font-style: italic;
}

p {
	font-size: 3rem;
	color: #2274a5;
}

.header {
	padding: 20px;
	height: 60px;
	width: 100%;
	background-color: #e9f1f7;
	opacity: 1;
	display: flex;
	z-index: 2;
}

.page-title {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	opacity: 1;
}

.content {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80vh;
	background: url("../assets/imgs/sky-bg2.jpg") center center;
	z-index: 1;
}

@keyframes changeAxis {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#get-weather-btn {
	background-color: #e9f1f7;
	color: black;
	width: 40vw;
	height: 40vw;
	border-radius: 500px;
	box-shadow: none;
	border-width: 0px;
	z-index: 3;
	text-decoration: none;
	animation: changeAxis 3s linear infinite;
}

#get-weather-btn:hover {
	background-color: antiquewhite;
	color: black;
	border-radius: 500px;
	box-shadow: none;
	border-width: 0px;
	z-index: 3;
	text-decoration: none;
	transform: scale(-1.5);
}
